.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
    padding: 20px;
    font-size: 1.5rem;
    position: relative;
  }
  
  .logo {
    margin-left: 40px;
    font-size: 1.8rem;
    cursor: pointer;
  }
  
  .red {
    color: red;
  }
  
  .menu-navbar ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    list-style: none;
    cursor: pointer;
    padding: 10px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .menu-navbar ul li:hover {
    color: red;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .menu-navbar {
      display: none;
      position: absolute;
      top: 70px;
      right: 0;
      background-color: black;
      width: 100%;
      text-align: right;
      padding: 20px 10px;
      z-index: 5;
    }
  
    .menu-navbar.open {
      display: block;
    }
  
    .menu-navbar ul {
      flex-direction: column;
      gap: 15px;
    }
  
    .menu-toggle {
      display: block;
      background: none;
      border: none;
      font-size: 2rem;
      color: white;
      cursor: pointer;
    }
  
    .logo {
      margin-left: 10px;
    }
  }
  
  @media (min-width: 769px) {
    .menu-toggle {
      display: none;
    }
  
    .menu-navbar {
      display: flex;
      position: static;
      justify-content: flex-end;
    }
  }
  